.popup {
  display: none;
  width: 100vw;
  top: 195px;
  left: 0;
  justify-content: center;
  align-items: center;
  position: fixed;
  color: #FFF;
  }

  .popup:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  @media screen and (max-width:320px) {
    .popup {
      height: 87vh;
    }
}
