.popup {
  display: flex;
  width: 100vw;
  height: 113vh;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  position: fixed;
  color: #FFF;
  }

  @media screen and (max-width:320px) {
    .popup {
      height: 44vh;
    }
}
