.element__like {
    background-image: url(../../../images/like.svg);
    grid-area: element__like;
    align-self: center;
    height: 22px;
    width: 22px;
    border: none;
    background-repeat: no-repeat;
    background-color: transparent;
}
.element__like:hover{
    cursor: pointer;
    opacity: 0.5;
}