.profile__edit-button{
    background-image: url(../../../images/pen.svg);
    min-width: 24px;
    max-width: 24px;
    height: 24px;
    box-sizing: border-box;
    grid-area: profile__edit-button;
}