.elements__list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  column-gap: 14px;
  row-gap: 21px;
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width:321px) {
  .elements__list {
      grid-template-columns: 1fr;
  }
}
