.profile{
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
    max-width: 880px;
    margin: 0 auto;
}

@media screen and (max-width:769px) {
    .profile {
      max-width: 585px;
      margin: 0 auto;
    }
  }

  @media screen and (max-width:321px) {
    .profile {
      flex-direction: column;
      max-width: 282px;    
    }
  }
