.header {
  display: flex;
  margin-top: 45px;
  align-self: start;
  align-items: flex-start;
  border-bottom: 1px solid rgb(84,84,84);
}

@media screen and (max-width:1025px) {
  .header {
    max-width: 880px;
    margin: 0 auto;
  }
}

@media screen and (max-width:769px) {
  .header {
    max-width: 585px;
  }
}
@media screen and (max-width: 320px) {
  .root__section{
      max-width: 282px;    
      margin: 0 auto;
  }
}
