.popup__fieldset {
    display: grid;
    gap: 25px;
    flex-direction: column;
    border: none;
    padding: 0 36px 0;
}

@media screen and (max-width:320px) {
    .popup__fieldset {
        padding: 0 20px 0;
        gap: 27px;
        margin-bottom: 23px;
    }
}