.footer__copyright {
    color: #545454;
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 66px;
    margin-bottom: 60px;
}