.root__section{
    width: 880px;    
}

@media screen and (max-width: 1025px) {
    .root__section{
        margin: 0 auto;   
    }
}

@media screen and (max-width: 880px) {
    .root__section{
        width: 879px;    
    }
}

@media screen  and (max-width: 769px) {
    .root__section{
        max-width: 625px;    
        margin: 0 auto;
    }
}
@media screen and (max-width: 320px) {
    .root__section{
        max-width: 282px;    
        margin: 0 auto;
    }
}
