.popup__close-button {
    position: absolute;
    top: -45px;
    right: -50px;
    background-image: url(../../../images/close.svg);
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
}