.popup__save-button {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 14px;
    padding-bottom: 16px;
    background: #000;
    border: none;
    border-radius: 2px;
    margin-top: 20px;
    margin-bottom: 37px;
}

.popup__save-button:hover {
    border-radius: 2px;
    opacity: 0.8;
}

@media screen and (max-width:320px) {
    .popup__save-button {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 0;
    }
}