.element {
    background: #fff;
    max-width: 282px;
    border-radius: 10px;
    display: grid;
    grid-template-areas:
        "element__image element__image "
        "element__subtitle element__like";
}