.button{
    /* transition: all 0.4s ease-in-out;
    cursor: pointer;
    outline: none;
    overflow: hidden; */
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    font-family: 'Inter', Arial, sans-serif;
}

.button:hover {
    opacity: 0.6;
    cursor: pointer;
  }